
*{
  font-family: sans-serif;
}

body{
  background-color: #F2F5F9;
}
.App {
  margin: 0px;
  display: grid;
  /* grid-template-columns: 1fr 1.5fr 1.5fr; */
  grid-template-rows: 40px 40 px auto 40px;
  /* grid-template-areas: 
  "header header header"
  "nav nav nav"
  "contents original extract"
  "footer footer footer"; */
  grid-template-areas: "header"
                       "nav"
                       "contents"
                       "footer";
  grid-gap: 0px;
}

.header{
  grid-area: header;
}

.nav{
  grid-area: nav;
  margin-left: 10px;
  margin-top: 10px;
}

.contents{
  grid-area: contents;
  margin: 10px;
  display: flex;
  flex-direction: row;
  border: solid;
  justify-content: space-around;
}

.contents_div{
  border: 1px;
  border-radius: 9px;
  background-color: white;
  padding: 16px;
  margin: 10px;
}

.label{
  color: #00338d;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: white;
}

.image_list{
  overflow: 'auto';
  padding: 0;
  margin: 0;
}


.footer{
  grid-area: footer;
}


@media ( max-width: 480px ) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: auto;
  }
  .nav{
    display: flex;
    flex-direction: column;
    border-radius: '0 0';
  }
  .list{
    width: auto;
  }
  .original{
    width: auto;
  }  
  .extract{
    width: auto;
  }
}