
*{
  font-family: sans-serif;
}

body{
  background-color: #F2F5F9;
}
.App {
  margin: 0px;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1.5fr;
  grid-template-rows: 40px 40 px auto 40px;
  grid-template-areas: 
  "header header header"
  "nav nav nav"
  "list original extract"
  "footer footer footer";
  grid-gap: 0px;
}

.header{
  grid-area: header;
}

.nav{
  grid-area: nav;
  margin-left: 10px;
  margin-top: 10px;
}

.nav button:hover{
  background: blueviolet;
}

.list{
  grid-area: list;
}

.original{
  grid-area: original;
}


.extract{
  grid-area: extract;
}

.footer{
  grid-area: footer;
}


@media ( max-width: 480px ) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: auto;
  }
  .nav{
    display: flex;
    flex-direction: column;
    border-radius: '0 0';
  }
  .list{
    width: auto;
  }
  .original{
    width: auto;
  }  
  .extract{
    width: auto;
  }
}