
*{
  font-family: sans-serif;
}

body{
  background-color: #F2F5F9;
}
.App {
  margin: 0px;
  display: grid;
  grid-template-rows: 40px 40 px auto 40px;
  grid-template-areas: "header"
                       "nav"
                       "contents"
                       "footer";
  grid-gap: 0px;
}

.header{
  grid-area: header;
}

.nav{
  grid-area: nav;
  margin-left: 10px;
  margin-top: 10px;
}

.contents{
  grid-area: contents;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.left{
  display: flex;
  flex-direction: column;
  margin-right: 47px;
  width: 65%;
}

.contents_div{
  width: 100%;
  border: 1px;
  border-radius: 9px;
  background-color: white;
  padding: 16px;
  margin: 10px;
}

.label{
  color: #00338d;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: white;
}

.footer{
  grid-area: footer;
}

table{
  border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
}
thead th{
  font-size: 12px;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  color: #369;
  border-bottom: 3px solid #036;
}
tbody th {
  font-size: 12px;
  width: 150px;
  padding: 10px;
  font-weight: bold;
  /* vertical-align: top; */
  border-bottom: 1px solid #ccc;
  background: #f3f6f7;
}
td {
  font-size: 12px;
  width: 350px;
  padding: 10px;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
}

@media ( max-width: 480px ) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: auto;
  }
  .nav{
    display: flex;
    flex-direction: column;
    border-radius: '0 0';
  }
}

@media ( max-width: 700px ) {
  .contents{
    grid-area: contents;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .contents_div{
    width: 80%;
    border: 1px;
    border-radius: 9px;
    background-color: white;
    padding: 16px;
    margin: 10px;
  }
}